.header{
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px;
    margin-bottom: 80px;
}

.avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid var(--corSecundaria);
    margin-bottom: 10px;
}

.name{
    font-size: 18px;
    color:  var(--corSecundaria);
}

.inputFind{
    width: 300px;
    height: 30px;
    margin-top: 10px;
   
    
}

.selectRepos{
    background-color: var(--corPrincipal);
    color:  var(--corSecundaria);
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 30px;
    margin: 1px; 
}

.divFind{
    position: relative;
}

.buttonFind{
    height: 30px;
    width: 100px;
    position: absolute;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    top: 10px;
    margin-left: 8px;
    cursor: pointer;
}